---
import PortableText from "../../components/PortableText.astro";
import { getBlog, getBlogs } from "../../utils/sanity";
import {  urlFor } from "../../../nichiha/lib/url-for-image"
import { loadQuery } from "../../../nichiha/lib/load-query";
import Layout from '../../layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
  const { data: blogs } = await loadQuery({
       query: `*[_type == "blog"]`
    // query: `*[_type == "blog" && defined(slug.current)] 
    // { slug }`,
  });

  return blogs.map(({ slug }) => ({
    params: { slug: slug.current },
  }));
}


const { slug } = Astro.params;
const { data: blog } = await loadQuery({
  query: `*[_type == "blog" && slug.current == $slug][0]`,
  params: { slug },
});
---
<Layout>
<section class="blog">
  <div class="fimage">
    {blog.featuredImage ? (
      <img 
        src={urlFor(blog.featuredImage).url()} 
        alt={blog.featuredImage.alt || blog.title} 
      />
    ) : null}
  </div>

  <div class="blog__container">
    <h1>{blog.title}</h1>
    <div class="content">
      {blog.bodyContent && <PortableText portableText={blog.bodyContent} />}
    </div>
  </div>
</section>

<style>
  .blog {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .fimage img {
    width: 100%;
    height: auto;
    margin: 1rem auto;
    max-width: 800px;
  }
</style>
</Layout>