---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="contact-container">

    <script src="https://js-na2.hsforms.net/forms/embed/243586991.js" defer></script>
    <div class="hs-form-frame" data-region="na2" data-form-id="54d200f4-8a00-4f24-b91e-48ae90546bb7" data-portal-id="243586991"></div>
  </div>



  <style>
    
    .contact-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: var(--spacing-2xl) var(--spacing-lg);
      background: white;
      border-radius: var(--radius-lg);
      box-shadow: var(--shadow-large);
    }
  
    
  </style>

</Layout>
