---
import Layout from "../layouts/Tabs.astro";
import health from "../assets/health1.jpg";
import hosp from "../assets/hosp1.jpg";
import multi from "../assets/multi1.jpg";
---

<Layout>
  <section class="cloneable">
    <div data-tabs="wrapper" class="tab-layout">
      <div class="tab-layout-col">
        <div class="tab-layout-container">
          <div class="tab-container">
            <div class="tab-container-top">
              <h1 class="tab-layout-heading">Any Building Type, Anywhere.</h1>
              <p>
                Nichiha AWP system helps you create buildings that inspire,
                blend with surroundings, embody the ethos of a community, exude
                brand quality, elevate customer experience, attract business,
                and much more.
              </p>
              <div data-flip-button="wrap" data-tabs="nav" class="filter-bar">
                <button
                  data-tabs="button"
                  data-flip-button="button"
                  class="filter-button active"
                >
                  <div class="filter-button__p">MULTIFAMILY</div>
                  <div data-flip-button="bg" class="tab-button__bg"></div>
                </button><button
                  data-tabs="button"
                  data-flip-button="button"
                  class="filter-button"
                >
                  <div class="filter-button__p">HOSPITALITY</div>
                </button><button
                  data-tabs="button"
                  data-flip-button="button"
                  class="filter-button"
                >
                  <div class="filter-button__p">HEALTHCARE</div>
                </button>
              </div>
            </div>
            <div class="tab-container-bottom">
              <div data-tabs="content-wrap" class="tab-content-wrap">
                <div data-tabs="content-item" class="tab-content-item active">
                  <h2 data-tabs-fade="" class="tab-content__heading">
                    MULTIFAMILY
                  </h2>
                  <p data-tabs-fade="" class="content-p opacity--80">
                    The Architectural Wall Panel rainscreen system provides
                    architects, builders, and owners of multifamily properties
                    with one of the widest ranges of colors, textures, and
                    finishes for achieving a signature façade deserving of
                    luxury apartment buildings, modern condominiums, and tenant-
                    and patron-attracting mixed-use developments.
                    <a href="#" class="tab-content__link">Learn more</a>
                  </p>

                </div>
                <div data-tabs="content-item" class="tab-content-item">
                  <h2 data-tabs-fade="" class="tab-content__heading">
                    HOSPITALITY
                  </h2>
                  <p data-tabs-fade="" class="content-p opacity--80">
                    Whether a chic modern hotel in the exurbs, a luxury mountain
                    resort, or a casual seaside resort, chances are good that
                    you’ll find your exterior design solution with Nichiha
                    Architectural Wall Panel System.
                  </p>
 
                  </a>
                </div>
                <div data-tabs="content-item" class="tab-content-item">
                  <h2 data-tabs-fade="" class="tab-content__heading">
                    HEALTHCARE
                  </h2>
                  <p data-tabs-fade="" class="content-p opacity--80">
                    Ensure that your hospital’s exterior design communicates the
                    cleanliness and quality of service that instills trust and
                    inspires confidence for patients, staff, and visitors with
                    the Nichiha Architectural Wall Panel system.
                  </p>
         
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-layout-col">
        <div data-tabs="visual-wrap" class="tab-visual-wrap">
          <div data-tabs="visual-item" class="tab-visual-item active">
            <img
              src={multi.src}
              loading="lazy"
              class="tab-image"
            />
          </div>
          <div data-tabs="visual-item" class="tab-visual-item">
            <img
                src={hosp.src}
              loading="lazy"
              class="tab-image"
            />
          </div>
          <div data-tabs="visual-item" class="tab-visual-item">
            <img
                src={health.src}
              loading="lazy"
              class="tab-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>
    h1 {
   color:   #48555F;
    }
    h2,p {
      color:    #48555F;;
   
    }
    p {
        margin: 0;
    }
  </style>
</Layout>
