---
const { text } = Astro.props;
---
<section class="headline">
  <h2>{text}</h2>
</section>

<style>
  .headline {
    background-color: #f8f8f8;
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
  }   
</style>