---
const { href, label, variant = "default" } = Astro.props;


---
<section class="link">
  <a href={href} class=link >
    {label}
  </a>
</section>

<style>
  .link {
    background: transparent;
    color:   rgb(55, 55, 55);
    border-color:   rgb(55, 55, 55);
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-md);
    font-size: var(--font-size-sm);
    letter-spacing: 0.07em;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    border: 2px solid transparent;
  }

  .link:hover {
    background:   rgb(55, 55, 55);

  }
</style>
